//Compilamos Con: stylus -c prueba.styl.
//Guarda Cambios Automaticamente Con: stylus -c -w prueba.styl. 
//Instalamos Con npm -g Nombre_Del_Paquete.
//Uso De nib Con Stylus: stylus -u nib -c -w prueba.styl.

//Importar Las Librerias De nib.

@import 'nib/vendor'
@import 'nib/gradients' 

// Navegadores Compatibles

vendor-prefixes = o ms moz webkit papitas official
body
	background blue
	
	.btn
		
		background red
		border 1px solid orange
		color white
		border-radius 5px
		text-transform uppercase
		transition 1s background

	.btn:hover

			background green
	
	.yellow
	
			background yellow
	
	.padre
		
			background linear-gradient(top, white, black);
			padding 200px
	.hijo
			
			font-size 50px